.container {
    display:flex;
}

.nav {
    position: fixed;
    height: 100%;
    width: 70px;
    background-color: brown;
    margin-bottom: 300px;
}
.nav:hover {
    width: 152px;
    -webkit-transition: width 0.5s;
}

.body {
    padding-left: 200px;
    padding-top: 40px;
}