.container {
    display:flex;
}

.nav {
    position: fixed;
    height: 100%;
    width: 65px;
    background: linear-gradient(to bottom, rgb(168, 245, 241), rgb(4, 250, 209) 10%, rgb(250, 184, 4) 100%);
    margin-bottom: 300px;
}
.nav:hover {
    width: 158px;
    -webkit-transition: width 0.5s;
}

.body {
    /* width: 100%;
    max-width: 1100px; */
    padding-left: 165px;
    padding-top: 40px;
    box-sizing: border-box;
}

.btnGral {
    display: flex;
    justify-content: flex-end;
    margin-right: 40px;
}

/* ----------------- DARK MODE -------- */

.bodyDark {
    padding-left: 165px;
    padding-top: 40px;
    box-sizing: border-box;
    background-color: black;
}

@media screen and (max-width: 670px) {
    .body {
        width: 90%;
        height: auto;
        padding-left: 80px;
        padding-top: 0px;
    }

    .bodyDark {
        width: 90%;
        height: auto;
        padding-left: 80px;
        padding-top: 0px;
    }

    .nav {
        height: 100%;
        width: 55px;;
        /* pointer-events: none; */
    }
    
    .btnGral {
        display: flex;
        justify-content: flex-end;
        margin-right: 40px;
        margin-top: 60px;
    }
}