.container {
    display:flex;
}

.nav {
    position: fixed;
    height: 100%;
    width: 65px;
    /* background: linear-gradient(to bottom, rgb(204, 168, 245), rgb(113, 32, 206) 10%, rgb(4, 250, 209) 100%); */
    background: linear-gradient(to bottom, rgb(168, 245, 241), rgb(4, 250, 209) 10%, rgb(250, 184, 4) 100%);
    margin-bottom: 300px;
}
.nav:hover {
    width: 158px;
    -webkit-transition: width 0.5s;
}

.body {
    padding-left: 165px;
    padding-top: 40px;
}

.btnGral {
    display: flex;
    justify-content: flex-end;
    margin-right: 40px;
}

/* ----------------- DARK MODE -------- */

.bodyDark {
    padding-left: 165px;
    padding-top: 40px;
    background-color: black;
}