.title {
    display: flex;
    justify-content: center;
    font-family: Architects Daughter;
    font-weight: 600;
}

.individualProject {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 30px;
}

.titleImg {
    margin-top: 100px;
    margin-bottom: 100px;
    padding-right: 70px;
    width: 150px;
    height: 80px;
}

.urlProject {
    text-decoration: none;
}

.img {
    width: 690px;
    height: 490px;
    margin-left: 250px;
    padding-bottom: 0px;
}

.date {
    font-family: Architects Daughter;
    font-weight: 200;
}

.descriptions {
    font-family: Architects Daughter;
    font-weight: 600;
}

.itemsDescriptions {
    font-family: Architects Daughter;
    font-weight: 600;
    background: linear-gradient(to right, white, rgb(253, 253, 5) 10%, rgb(163, 240, 240) 100% );
}