.title {
    font-family: Architects Daughter;
    font-weight: 600;
} 

.general {
    display: flex;
    justify-content: center;
}

.lista {
    text-decoration: none;
    list-style: none;
    margin-right: 20px;
}