.div {
    height: 5px;
    border-radius: 15px;
    background: linear-gradient(to left, rgb(243, 243, 234) ,rgb(168, 245, 241), rgb(4, 250, 209) 70%, rgb(250, 184, 4) 100%);
    margin-bottom: 20px;
}

/* -------- DARK MODE --------- */
.divDark {
    height: 5px;
    border-radius: 15px;
    background: linear-gradient(to left, rgb(14, 14, 14) ,rgb(168, 245, 241), rgb(4, 250, 209) 70%, rgb(250, 184, 4) 100%);
    margin-bottom: 20px;
}
