.general {
    display:flexbox;
}

.etiqueta {
    display: flex;
    justify-content: center;
    font-family: BioRhyme;
    font-weight: 300;
    padding-bottom: 30px;
}

.container {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.title {
    display: flex;
    align-self: center;
    padding-right: 100px;
    /* padding-bottom: 100px; */
    font-family: BioRhyme;
    font-weight: 400;
}

.indv {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    padding: 8px;
    margin: 8px;
}

.tecName {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: BioRhyme;
    font-weight: 300;
}

.indvEx {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    margin-top: 25px;
    padding-bottom: 40px;
}
.namEx {
    margin-top: 25px;
    font-family: BioRhyme;
    font-weight: 600;
}

/* ---------- DARK MODE ------------ */

.etiquetaDark {
    display: flex;
    justify-content: center;
    font-family: BioRhyme;
    font-weight: 300;
    padding-bottom: 30px;
    color: whitesmoke;
}

.titleDark {
    display: flex;
    align-self: center;
    padding-right: 100px;
    /* padding-bottom: 100px; */
    font-family: BioRhyme;
    font-weight: 400;
    color: whitesmoke;
}

.tecNameDark {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: BioRhyme;
    font-weight: 300;
    color: whitesmoke;
}

@media screen and (max-width: 670px) {
    .etiqueta {
        width: 100%;
        padding-bottom: 10px;
    }

    .etiquetaDark {
        width: 100%;
        padding-bottom: 10px;
    }

    .container {
        width: 100%;
    }

    .title {
        width: 100%;
        /* padding-bottom: 10px; */
    }

    .titleDark {
        width: 100%;
    }
    
    .indv {
        width: auto;
        height: auto;
        margin-bottom: 20px;
    }
}