.container {
    width: 70%;
}

.title {
    font-family: BioRhyme, serif, roboto;
    font-weight: 200;
}

.general {
    width: 70%;
    display: flex;
    justify-content: center;
}

.lista {
    text-decoration: none;
    list-style: none;
    margin-right: 20px;
}

/* ---------- DARK MODE --------- */

.titleDark {
    font-family: BioRhyme, serif, roboto;
    font-weight: 200;
    color: whitesmoke;
}
