.title {
    font-family: BioRhyme, serif;
    font-weight: 400;
} 

/* ------------ DARK MODE --------------- */

.titleDark {
    font-family: BioRhyme, serif;
    font-weight: 400;
    color: whitesmoke;
} 

@media screen and (max-width: 670px) {
    .title {
        width: 90%;
    }

    .titleDark {
        width: 90%;
    }
}