.container {
    display: flex;
    background-color: whitesmoke;
}

.nav {
    position: fixed;
    height: 100%;
    width: 50px;
    background: linear-gradient(to bottom, rgb(168, 245, 241), rgb(4, 250, 209) 10%, rgb(250, 184, 4) 100%);
    margin-bottom: 300px;
    transition-property: width;
    transition-duration: 500ms;
}
.nav:hover {
    width: 158px;
}

.bodyContainer {
    padding-left: 165px;
    padding-top: 40px;
    box-sizing: border-box;
    background-color: whitesmoke;
}

.btnGral {
    display: flex;
    justify-content: flex-end;
    margin-right: 40px;
}

/* ------------ DARK MODE --------- */
.containerDark {
    display: flex;
    background-color: black;
}

.bodyContainerDark {
    padding-left: 165px;
    padding-top: 40px;
    box-sizing: border-box;
    background-color: black;
}


@media screen and (max-width: 670px) {
    .bodyContainer {
        width: 95%;
        height: auto;
        padding-left: 120px;
        padding-top: 0px;
    }

    .bodyContainerDark {
        width: 95%;
        height: auto;
        padding-left: 120px;
        padding-top: 0px;
    }

    .nav {
        height: 75%;
        width: 46px;
        border-bottom-right-radius: 10px;
    }
    
    .btnGral {
        display: flex;
        justify-content: flex-end;
        margin-right: 10px;
        margin-top: 10px;
    }
}