.title {
    font-family: BioRhyme, serif, roboto;
    font-weight: 300;
} 

.general {
    display: flex;
    justify-content: center;
}

.lista {
    text-decoration: none;
    list-style: none;
    margin-right: 20px;
}

/* -------- DARK MODE -------- */

.titleDark {
    font-family: BioRhyme, serif, roboto;
    font-weight: 300;
    color: whitesmoke;
} 