.general {
    overflow: hidden;
}

.listContainer {
    padding: 20px;
    padding-bottom: 10px;
}

.icons {
    float: left;
}

.link {
    text-decoration: none;
    color: black;
}

.title {
    padding-left: 50px;
    line-height: 4px;
    font-family: Architects Daughter;
    font-weight: 400;
}