.general {
    overflow: hidden;
}

.listContainer {
    padding: 20px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.icons {
    float: left;
}

.link {
    text-decoration: none;
    color: black;
}

.title {
    padding-left: 40px;
    line-height: 2px;
    font-family: BioRhyme, serif, roboto;
    font-weight: 400;
    font-size: medium;
}

@media screen and (max-width: 670px) {

    .listContainer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-self: center;
        padding: 8px;
        padding-left: 7px;
        padding-bottom: 10px;
    }
}