.general {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    box-sizing: border-box;
}

.socialContainer {
    width: 60%;
}

.imgContainer {
    width: 30%;
    box-sizing: border-box;
}

.img {
    width: 100%;
    height: auto;
}

@media screen and (max-width: 670px){

    .socialContainer {
    width: 100%;
}

    .imgContainer {
        display: none;
    }
}